{% extends "test_app/base.html" %}
{% block content %}
    {% if page_obj.paginator.count == 0 %}
    <h1 class="mb-3">Заявки отсутствуют!</h1> <!-- get a username passed into the URL -->
        <p>Все заявки на взаимодействие с Вами будут отображаться здесь.</p>
        <p>Возможно, Вы ещё не добавили ни одной темы? <a href="{% url 'topic-create' %}">Сделайте это здесь.</a></p>
    {% else %}
    <h2 class="mb-3">Доступные заявки ({{ page_obj.paginator.count }})</h2> <!-- get a username passed into the URL -->
    {% endif %}
    {% for request in requests %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ request.date_created|date:"F d, Y" }} <b>{% if request.declined %}(Заявка отклонена без объяснения причин){% elif request.responded %}(Ответ по заявке отправлен){% else %}(Заявка требует рассмотрения){% endif %}</b></small>
                </div>
                <h3><a class="article-title">Новая заявка: {{ request.student.last_name }} {{ request.student.first_name }}</a></h3>
                <p class="article-content">{% if request.no_topic %}Тема не указана, студент хочет предложить своё.{% else %}На тему: <a class="ml-0" href="{% url 'topic-detail' request.associatedTopic.id %}">{{ request.associatedTopic.name_russian }}</a>
                {% endif %} <p></p>
                <p></p>
                {% if request.responded %}
                    <b>Ваш ответ: </b>{{ request.lecturer_answer }}
                {% endif %}
                <p></p>
                <b>Интересы студента: </b>{{ request.description }}</p>
            {% if request.declined %} {% else %}
                <a href="{% url 'request-response' request.id %}">
                    <button class="btn btn-outline-info" type="button">Ответить на заявку</button>
                </a>
                <a href="{% url 'request-decline' request.id %}">
                    <button class="btn btn-outline-danger" type="button">Отклонить (без объяснения причин)</button>
                </a>
            {% endif %}
                <p></p>

            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}
