{% extends "test_app/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удаление темы</legend>
                <p><b>Название темы: </b><a class="article-title" href="{% url 'topic-detail' object.id %}">{{ object.name_russian }}</a></p>
                <p><b>Описание темы: </b>{% if object.description %}{{ object.description }}{% else %}Отсутствует.{% endif %}</p>
                <h5>Вы уверены, что хотите удалить эту тему?</h5>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да, удалить</button>
                <a class="btn btn-outline-secondary" href="{% url 'topic-detail' object.id %}">Отмена</a>
            </div>
        </form>
    </div>
{% endblock content %}

