{% extends "test_app/base.html" %}
{% block content %}
    {% if topics %}
        {% for topic in topics %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ topic.lecturer.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-topics' topic.lecturer.username %}">{{ topic.lecturer.first_name }} {{ topic.lecturer.last_name }}</a>
                        <small class="text-muted">{{ topic.date_created|date:"F d, Y" }}</small>
                    </div>
                    <h4><a class="article-title" href="{% url 'topic-detail' topic.id %}">{{ topic.name_russian }}</a></h4>
                    <p>
                        {% for interest in topic.lecturer.profile.interests_as_list %}
                            <span class="badge badge-primary">{{ interest }}</span>
                        {% endfor %}
                    </p>
                    {% if topic.is_taken %}
                        {% if topic.lecturer == user %}
                            <p><b>Студент, принятый на эту тему: </b>{{ topic.student_who_took }}</p>
                        {% else %}
                            {% if user.profile.is_lecturer %} {% else %}
                                <p><b>Эта тема уже занята.</b> Подайте заявку без темы или найдите похожие, нажав на рекомендации ниже.</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h3>Здесь ещё нет тем!</h3>
            <p>Добавьте хотя-бы одну тему, и она появится здесь! <a href="{% url 'topic-create' %}">Добавить.</a></p>
    {% endif %}

{% endblock content %}

